# OS files
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
.env

# Node
node_modules/
.npm/
.next/
out/
dist/

# IDE
.vscode/
.idea/

# Logs
*.log
